<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Main/css/style.css' %}">
    <title>Main</title>
    
</head>
<body>
    <a href="/book/">Library</a>
    <a href="/author/">Author Library</a>
    <h1>Бібліотека</h1>
    <p>Бібліотека – це особливе місце, яке відіграє важливу роль у суспільстві. Вона є своєрідним скарбницею знань, культурною платформою і центром саморозвитку для людей різного віку та інтересів. 
        Основне призначення бібліотеки полягає в забезпеченні доступу до книг, журналів, електронних ресурсів і інформаційної бази, які сприяють навчанню, дослідженням та розвитку особистості.</p>
        <img src="{% static  'Main/img/OIP.jpg' %}" alt="img">
    <p>Однак сучасна бібліотека виходить за рамки традиційних функцій. Вона стає місцем проведення лекцій, семінарів, виставок та інших культурних заходів. 
        Бібліотеки також допомагають забезпечувати доступ до Інтернету, що є важливим для людей у цифрову епоху.
        Багато бібліотек працюють над розвитком читацької грамотності та стимулюванням інтересу до читання серед дітей і молоді.</p>
    <img src="{% static 'Main/img/OIP2.jpg' %}"  alt="img2">
    <p>Важливо зазначити, що бібліотека є символом культурного спадку і збереження національної пам'яті. 
        Вона зберігає рідкісні книги, рукописи, архіви і інші цінності, які є частиною нашої історії та культури.
        Бібліотеки сприяють збереженню та передачі цих скарбів майбутнім поколінням, роблячи їх доступними для дослідження та вивчення.</p>
    <img src="{% static  'Main/img/OIP3.jpg' %}" alt="img3">
    <p>Усім цим чином, бібліотека залишається невід'ємною частиною нашого суспільства, яка відкриває двері до знань і культурного розвитку. 
        Вона служить місцем зустрічей, навчання і незабутніми пригодами для всіх, хто її відвідує.</p>
    <img src="{% static 'Main/img/OIP4.jpg' %}" alt="img4">

</body>
</html>